.form-heading{
    font-size: 24px;
    text-align: center;
}
.expense-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.expense-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.expense-list-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.filter-dropdown {
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.type-select {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

